html {
    width: 90%;
    margin: auto;
    border: 5px solid black;
    border-radius: 5%;
}

section {
    margin-bottom: 5%;
}

nav {
    background-color: #50cc56;
}

/*To change size for logo*/
.pic1 img
{
max-width:130px;  
position: absolute;
left: 74px;
top:15px;
}

/*To change size for weather app*/
.pic2 img
{
max-width:118px;  
position: absolute;
right: 71px;
top:  15px;
}


li a {
    display: block;
    float: left;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

#navigation_bar_list {
    display: block;
    list-style-type: none;
    padding-top: 30px;
    overflow: hidden;
}

#navigation_bar_div {
    margin: auto;
    width: 65%;
    display: flex;
}

#navigation_bar_list > li{
    float: left;
}

#home_body {
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: #53fd5b;
    border-radius: 10%;
    width: 80%;
    height: 50%;
}

#about_body {
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: #50cc56;
    border-radius: 10%;
    width: 80%;
    height: 50%;
}

#home_body_div {
    padding-top: 1%;
    padding-bottom: 40%;
}

#home_body_div_content {
    display: block;
    text-align: center;
}

.product {
    width: 38%;
    padding: 0 3%;
    margin: 3%;
}

#product_one {
    float: left;
}

#product_two {
    float: right;
}

.home_body_div_content_img {
    max-width: 25%;
    max-height: 25%;
}

.active {
    background-color: #6d4c41;
    border-radius: 10%;
}

#padding_end {
    margin-top: 10%;
}

#sidebar {
    display: block;
    float: left;
    position: fixed;
    text-align: center;
    height: 13%;
    width: 8%;
    background-color: #81c784;
    color: white;
    border: 3px solid black;
    border-radius: 5%;
}


#sidebar_option_1 {
    padding: 10%;
}

#facebook {
    display: inline-block;
    border: none;
    padding-left: 26%;
    padding-right: 5%;
}

#instagram {
    display: inline-block;
    border: none;
    padding-right: 5%;
}

#github {
    display: inline-block;
    border: none;
    padding-right: 5%;
}

#references {
    display: inline-block;
    float: right;
    padding-right: 1%;
    font-size: 0.75em;
}

#info {
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: #81c784;
    border-radius: 10%;
    width: 80%;
    height: 50%;
}



select{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    font-size: 1.7em;
    display: block;
}
option{
    height: 48px;
    border: 0.5px solid;
}

#summary,#pestSummary {
    border: 1px solid black;
    width: 50%;
    text-align: left;
    padding: 3%;
    border-radius: 10%;
    margin: auto auto 2%;
}

button{
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background:#6d4c41;
    color: white;
    font-size: 1.3em;
}



.visible {
    display: block;
}

.hide {
    display: none;
}

#pot {
    display: block;
    width: 25%;
    margin: auto;
    max-width: 100px;
}

.center {
    text-align: center;
}